<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enter Name</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/game_start.css">
</head>
<body class="page page-name">
  <main class="content">
    <header class="page-header">
      <a class="buttons exit_button" href="/ui/">Exit</a>
    </header>
    <label class="label" for="player-name">Enter your name:</label>
    <input class="input" id="player-name" type="text" name="playerName" placeholder="Username">
    <button class="buttons" type="button">Continue</button>
  </main>
</body>
</html>
